/* src/index.css */
@import "./tailwind.css";

/* Light mode styles */
html.light {
  --bg-color: #f9fafb;
  --text-color: #1f2937;
}

/* Dark mode styles */
html.dark {
  --bg-color: #262626;
  --text-color: #f9fafb;
}

/* Custom mode styles */
html.custom {
  --bg-color: #008080;
  --text-color: #f5f5f5;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
